[submodule "components/obelisk/src"]
	path = components/obelisk/src
	url = https://github.com/obsidiansystems/obelisk.git
[submodule "components/nix-haskell/src"]
	path = components/nix-haskell/src
	url = https://github.com/ymeister/nix-haskell.git
[submodule "components/reflex-dom/src"]
	path = components/reflex-dom/src
	url = https://github.com/ymeister/reflex-dom.git
	branch = ghc(js)-9.10
